<div class="container">
  <h2 class="text-center">About</h2>
  <p class="text-center">
    わたくしごとを記録することで自分を知り、<br />
    ひとごとをのぞいてリアクションを送りあえる。<br />
    「自己分析をもっと気楽に楽しむ」をコンセプトにした、<br />
    記録コミュニティサイトです!
  </p>

</div>