<div class="container px-3 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <div class="d-flex flex-column">

        <h5 class="lead font-weight-bold">管理者</h5>

        <div>
          ・questionの削除<br />
          ・answerの削除<br />
          ・タグの削除<br />
          ・ユーザー情報の編集・削除<br />
          が可能です。
        </div>

      </div>
    </div>

    <div class="col-md-8 offset-md-1">

      <!--questionの一覧-->
      <%= render "index", questions: @questions %>

    </div>

  </div>
</div>