<div class="container px-5 px-sm-0">
  <div class="row">
    <!--エラー文-->
    <%#= render "layouts/errors", obj: @question %>

    <div class="col-md-3">

      <!--ユーザー情報-->
      <%= render "admin/users/info", user: @user %>

    </div>

    <div class="col-md-8 offset-md-1">

      <!--クエスチョンの一覧-->
      <%= render "admin/questions/index", questions: @questions %>

    </div>

  </div>
</div>