<footer class="mt-3">
  <div class="container mt-4">
  	<div class="row">
    	<div class="mx-auto text-center">
    		<p>Knowing yourself is the beginning of all wisdom.</p>
    	</div>
    </div>
  </div>
</footer>